.App {
  text-align: center;
  position:absolute;
  background-color: black;
  color: #a3a3a3;
  margin: 0;
  padding: 0;
}

.Scene {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.three {
  z-index: 0;
}

.controls {
  position: absolute;
  z-index: 2;
  background: rgba(44, 43, 43, 0.2);
  padding: 16px;
  color: #fff;
  width: 400px;
  border-radius: 16px;
  padding-top: 50;
  margin-top: 100;
  left: 50%;
  top: 48px;
  transform: translate(-50%, -50%);
}

.controlsUser {
  position: absolute;
  z-index: 2;
  background: rgba(44, 43, 43, 0.2);
  padding: 16px;
  color: #fff;
  width: 200px;
  border-radius: 16px;
  padding-top: 50;
  margin-top: 100;
  top: 10px;
  right: 10px;
}

.controls > button {
  padding: 10px;
  background: #222;
  color: #ccc;
  border: none;
  margin: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.controls > button:hover {
  background-color: #111;
  color: #fff;
}

.controls > button.active {
  font-weight: bold;
  background-color: #333;
  color: #ff0;
}

img {
  border-radius: 2px;
  max-width: 100%;
  max-height: 100%;
}

.modalBackground{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent{
  position: relative;
  width: 70%;
  height: 75%;
  color:rgba(255, 255, 255, 0.9);
  background-color: rgba(13, 13, 13, 0.5);
  padding: 20px;
  border-radius: 5px;

}

.HeaderRow{
  position: absolute;
  top: 16px;
  right: 16px;
}

.content-left{
  position:absolute;
  bottom: 48px;
  top:48px;
  left: 48px;
  float:left;
  width:40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-right{
  margin-top: 32px;
  width: 50%;
  float:right;
}

.portal-header{
  color:white;
  font-size: 28px;
  font-family: Georgia,'Times New Roman', Times, serif;
  font-weight: 100;
  line-height: 1.5;
}

.portal-date{
  color:#d3d3d3;
  font-size: 18px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Georgia,'Times New Roman', Times, serif;
  font-weight: 100; 
  letter-spacing: 1px;
  margin-top: 32px;
}

.vote-result{
  color:#d3d3d3;
  font-size: 14px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Georgia,'Times New Roman', Times, serif;
  font-weight: 100; 
  letter-spacing: 1px;
  margin-top: 32px;
}

.vote-result em{
  color:#fdff9c;
  font-size: 16px;
}

.portal-content-box{
  float:right;
  margin-right: 24px;
  width: 250px;
}

.portal-content{
  color:#d3d3d3;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100; 
  letter-spacing: 1px;
  font-style: normal;
  
}

.portal-content-title{
  width: 450px;
  color:#a3a3a3;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100; 
  letter-spacing: 1px;
  font-style: normal;
}

.portal-content-vote{
  width: 450px;
  color:#fdff9c;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100; 
  letter-spacing: 1px;
  font-style: italic;
  margin-top: 24px;
}

.button-row{
  position: absolute;
  margin-top: 32px;
}

.select-emotions{
  color:rgba(44, 44, 44, 0.9);
  margin-top: 32px;
}

hr {
  width: 95%;
  margin-top: 0px;
  margin-bottom: 48px;
  margin-left: 0px;
  border-top: 1px;
  opacity: 0.5;
}

#preloader{
  background: #000 url(assets/preloader.gif) no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position:fixed;
  z-index: 100;
}

.stackedBar{
  height: 54px;
}

.loginModalContent{
  position: relative;
  width: 30%;
  height: 30%;
  background-color: rgba(28, 28, 28, 0.8);
  padding: 20px;
  border-radius: 5px;
}

.loginTitle{
  text-align: left;
  margin-left: 8%;
  margin-top: 36px;
  font-size: 20px;
  font-family: Georgia,'Times New Roman', Times, serif;
  font-weight: bold;
  line-height: 1.5;
  color:rgb(255, 255, 255);
}

.loginSubTitle{
  width: 80%;
  text-align: left;
  margin-left: 8%;
  margin-top: 12px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: light;
  color:rgb(255, 255, 255, 0.75);
  line-height: 1.2;
}

.googleButton {
  margin: 0;
  position: relative;
  margin-top: 24px;
  margin-left: 8%;

}

.threeBtnGroup{
  position: absolute;
  z-index: 1;
  background: rgba(44, 43, 43, 0.2);
  padding: 16px;
  color: #fff;
  width: 100px;
  border-radius: 16px;
  left: 50%;
  bottom:0%;
  transform: translate(-50%, -50%);
}


.threeBtnGroup > button {
  padding: 10px;
  background: #222;
  color: #ccc;
  border: none;
  margin: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.threeBtnGroup > button:hover {
  background-color: #111;
  color: #fff;
}

.threeBtnGroup > button.active {
  font-weight: bold;
  background-color: #333;
  color: #ff0;
}

.hoverBox{
  display: table;
  position: absolute;
  z-index: 2;
  background: rgba(44, 43, 43, 0.3);
  padding: 16px;
  color: #fff;
  width: 20%;
  height: 30%;
  border-radius: 16px;
  bottom: 5%;
  right: 30px;
  border-collapse: separate;
  border-spacing: 8px;
}

.hoverBox > div{
  display:table-row;
}

.hoverBoxImg{
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.selected-point {
  font-size: 0.85em;
  margin-top: 8px;
  text-align: left;
  height:5%;
}

.hover-tag {
  font-size: 0.9em;
  text-align: left;
  color: #fff;
  height: 10%;
}

.hover-image{
  height: auto;
  display: flex;

}


.sideBarPCA{
  position: absolute;
  z-index: 2;
  background: rgba(44, 43, 43, 0.3);
  padding-top: 24px;
  padding-bottom: 32px;
  color: #fff;
  border-radius: 16px;
  left: 5%;
  top: 48px;
  height: 70%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.sideBarCube{
  position: absolute;
  z-index: 2;
  background: rgba(44, 43, 43, 0.3);
  padding-top: 24px;
  padding-bottom: 32px;
  color: #fff;
  border-radius: 16px;
  left: 5%;
  top: 48px;
  height: 23%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}


.sideBarTagDot{
  margin-top: 2px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.sideBarTagDotLarge{
  margin-left: -3px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.sideBarTagButtonContainer{

  padding: 12px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 10px;
  background-color: #ffffff00;
  cursor: pointer;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color:#b7b7b7;
  font-weight: 500;

  text-transform: uppercase;
  letter-spacing: 1px;

  display: flex;

}

.sideBarTagButtonContainerShowAll{

  padding: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 24px;
  border-radius: 30px;
  background-color: #3a3a3a00;
  cursor: pointer;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color:#b7b7b7;
  font-weight: 500;

  text-transform: uppercase;
  letter-spacing: 1px;
}


.nextPrevButton{
  padding: 10px;
  background: none;
  color: #b7b7b7;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}


.nextContainer{
  position: absolute;
  z-index: 2;
  right: 5%;
  top: 40%;

}

.prevContainer{
  position: absolute;
  z-index: 2;
  left: 5%;
  top: 40%;

}

.nextPrevTag{
  margin: 10px;
  color: #ececec;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200; 
  font-size: 50%;
}

.nextPrevTagDot{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}

